
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
.principal {
    text-align: center;
}

.principal2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.lead {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

#btraca {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.col-md-4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.jumbotron {
    background-color: #AAA9DB;
}


.navbar {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bold;
    padding-top:10px;
   
    
}
.aga2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    padding-top:10px;
}
.aga3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.aga4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.btn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
footer {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.pdrop {
    font-family: 'Josefin Sans', sans-serif;
}

table th{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size:1.3em;
}
th {
    
    font-family: 'Josefin Sans', sans-serif;
}

.tbcao{
    font-size:medium;
}
td {
    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

p {
    
}

h3 {
    font-size: 19px;
}











header {
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
}

#toggle01 {
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color: black;
    position: absolute;
    right: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 27px;
    margin-top: 9px;
}

    #toggle01:after {
        content: "";
        position: absolute;
        height: 30px;
        width: 30px;
        background-color: #ffffff;
        top: 5px;
        left: 5px;
        border-radius: 50%;
    }

.corpo {
    background-image: linear-gradient(to bottom, #e5e2f3, #4e50b6, #2312b8 90% );
    background-attachment: fixed;
    color: black;
}

.darkmode {
    background-image: linear-gradient(to bottom, #181818, #181818 90% );
    background-attachment: fixed;
    color: #FFFFF0;
}

    .darkmode #toggle01 {
        background-image: linear-gradient(to bottom, white, white, white 90% );
    }

        .darkmode #toggle01::after {
            background-color: transparent;
            box-shadow: 10px 10px black;
            top: -4px;
            left: 30px;
        }

    .darkmode .jumbotron {
        color: white;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    