@model TestaBotao.Models.Racas

@{
    ViewBag.Title = "Delete";
}

<h2 class="aga2">Apagar Raça</h2>

<h3 class="aga3">Tem certeza que você quer deletar essa raça?</h3>
<div>
    <h4 class="aga4">Raça:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Raca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raca)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <input type="button" class="btn btn-primary" value="Voltar" onclick="location.href='@Url.Action("Index", "Racas")'" />
        </div>
    }
</div>
