@charset "UTF-8";

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: red;
    background-color: darkred;
}

p {
text-align: justify;
}